*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body{
    width: 100vw;
    height: 100vh;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    --baseCol: #00cb88;
}

.lockBox
{
    width: 400px;
    height: 400px;
    border: 1px solid #e41cf8;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-flow: row wrap;
    z-index: 1;
    border-radius: 5px;
}

.dot
{
    width: 10px;
    height: 10px;
    border: 1px solid #e41cf8;
    margin: 40px;
    border-radius: 50%;
    box-shadow: 0 0 30px #e41cf8;
}

.dot i
{
    pointer-events: none;
    opacity: 0;
}

.dot.active
{
    transform: scale(0);
    pointer-events: none;
    border: none;
    animation: pattern 0.25s cubic-bezier(0, 2.24,0.2,2.23)
    forwards;
}

@keyframes pattern
{
    100%
    {
        background: var(--baseCol);
        transform: scale(1);
        box-shadow: 0 0 30px 5px var(--baseCol);
    }
}

.dotArea
{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    cursor: pointer;
}

.lockBox svg
{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    fill: none;
    stroke: var(--baseCol);
}

